@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@100;400&family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(26, 17, 17);
    display: flex;
    place-items: center;
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-areas: 
    'a a b '
    'a a b '
    'c d d'
    'c e e'
    ;
    gap: 20px;
    width: 50%;
    margin: auto;
    background-color: rgb(3, 3, 22);
    padding: 10px;
}
main div{
    padding: 2em;
    text-align: center;
    
    
}

    

.item-a{
    background-color: rgb(177, 62, 27);
    grid-area: a;
    height: 100px;
}
.item-b{
    background-color: rgb(50, 153, 29);
    grid-area: b;
    height: 100px;
}
.item-c{
    background-color:#d4e20f;
    grid-area: c;
}
.item-d{
    background-color: rgb(50, 136, 206);
    grid-area: d;
}
.item-e{
    background-color: rgb(50, 136, 206);
    color: white;    
    grid-area: e;
}